<div class="container" id="background">
    <form (ngSubmit)="handleLoginForm()" class="form">
      <div class="logo">
        <img src="../../../../assets/image/logotipo_etruck_light.png" alt="">
      </div>

      <input
      id="email"
      type="text"
      placeholder="Correo electrónico"
      name="email"
      [(ngModel)]="userLoginForm.email"
      class="form-input"
      required
    />
    <input
      id="password"
      type="password"
      placeholder="Contraseña"
      name="password"
      [(ngModel)]="userLoginForm.password"
      class="form-input"
      required
    />

      <button type="submit" class="form-button">Iniciar sesión</button>
    </form>
  </div>
