.img-login{
  width: 100%;
  display: block;
  margin: 0px;
}
.container {
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  display: flex;
  padding-top: 3rem;
  justify-content: center;
  height: 100vh;
  background: #303030;
  background-image: url(../../../../assets/image/TSA6JK2HYBETRIGJYDHXWSENVQ.jpg);
  }
.form {
  border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin-top: -30px;
}

.form-title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #ffffff;
}

.form-group {
  margin-bottom: 1.5rem;
  width: 100%;
}

label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
  display: block;
}

.form-input {
  width: -webkit-fill-available;
  padding: 0.8rem;
  border-radius: 25px;
  font-size: 1rem;
  background-color: transparent;
  color: white;
  border: solid 1px #ee8941;
  margin: 0px auto 20px;
  max-width: 530px;
}

.form-input:focus{
  border: solid 1px white;
}

.form-input::placeholder {
  color: rgb(155, 155, 155);
}

.logo{
  text-align: center;
}

.logo img{
  width: 80%;
  max-width: 450px;
}

#background{
  max-width: 100%;
}

.form-input:focus {
  outline: none;
  border-color: none;
  box-shadow: none;
}

.form-button {
  background-color: #ee8941;
  color: #fff;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  width: 70%;
  max-width: 220px;
}

.form-button:hover {
  background-color: #f3f3f3;
}

