<img src="../../../../assets/image/red-truck.jpg" alt="Logo o imagen de encabezado" class="img-login"/>
<div class="container">
    <form (ngSubmit)="handleLoginForm()" class="form">
      <h2 class="form-title"><strong>E</strong>CARRIAGE</h2>

      <div class="form-group">
        <!-- <label for="email">Correo electrónico</label> -->
        <input
          id="email"
          type="text"
          placeholder="Correo electrónico"
          name="email"
          [(ngModel)]="userLoginForm.email"
          class="form-input"
          required
        />
      </div>

      <div class="form-group">
        <!-- <label for="email">Contraseña</label> -->
        <input
          id="password"
          type="password"
          placeholder="Contraseña"
          name="password"
          [(ngModel)]="userLoginForm.password"
          class="form-input"
          required
        />
      </div>

      <button type="submit" class="form-button">Enviar formulario</button>
    </form>
  </div>
