<div class="general">
    <section class="section">
      <p class="saludo">Hola,</p>
      <h2>Estos son todos los almacenes:</h2>
      <div class="content-alta">
        <button class="btn-2">Nuevo Almacén</button>
      </div>
        @for(warehouse of warehouses; track $index){
        <div class="content">
            <div class="card-content">
                <p><strong>Nº Almacén:</strong>{{warehouse.id}}</p>
                <p><strong>Localizacion:</strong> {{warehouse.location }}</p>
            </div>
        </div>
        }
    </section>
</div>

<!-- @if(this.modalAdd === true){
<app-add-warehouse (closeadd)="closeADD()"></app-add-warehouse>
} -->
