<div class="general">
  <button (click)="comeback()" >volver atras</button>
    <section class="section">
  
      <h2>Estos son todos los almacenes:</h2>
      <div class="content-alta">
        <button (click)="opendetails()" class="edit-btn">Nuevo Almacén</button>
      </div>
        @for(warehouse of warehouses; track $index){
        <div class="content">
            <div class="card-content">
                <p>Localizacion:<strong>{{warehouse.location}}</strong></p>
            </div>
        </div>
        }
    </section>
</div>

< @if(this.modalAdd === true){
<app-add-warehouse  (closeadd)="closeADD()"></app-add-warehouse>
} 
