<div class="modal">
    <div class="modal-content">
      <button (click)=" CloseDEtails()" class="close">×</button>
      <div class="modal-head">
        <h2>Detalles del Pedido</h2>
      </div>
      <div class="modal-body">
        <h3>ID: {{selecEvent?.id}}</h3>
        <h3>Tipo: {{selecEvent?.name}}</h3>
        <h3>Status: {{selecEvent?.surname}}</h3>
        <h3>Fecha de Entrada: {{selecEvent?.address }}</h3>
        <h3>Fecha de Salida: {{ selecEvent?.dni }}</h3>
        <h3>Origen: {{selecEvent?.email}}</h3>
        <h3>Destino: {{selecEvent?.role}}</h3>
        <h3>Trabajador ID: {{selecEvent?.warehouse_location}}</h3>
        <h3>Placa del Camión: {{selecEvent?.truck_plate}}</h3>
      </div>
    </div>
  </div>
  
