
<div class="modal">
  <div class="modal-content">
    <div class="form-container">
      <div class="form-group" id="title">
        <h2>Detalles del Empleado</h2>
        <button (click)="CloseDEtails()" class="close">×</button>
      </div>
      <div class="elements">
        <div class="form-group">
          <p>Empleado: {{ selecEvent?.id_worker }}</p>
        </div>

        <div class="form-group">
          <p>Nombre: {{ selecEvent?.name }}</p>
        </div>

        <div class="form-group">
          <p>Apellidos: {{ selecEvent?.surname }}</p>
        </div>


      <div class="form-group">
        <p>Puesto: {{ selecEvent?.role }}</p>
      </div>

      <div class="form-group">
        <p>Dirección: {{ selecEvent?.address }}</p>
      </div>

      <div class="form-group">
        <p>Dirección: {{ selecEvent?.address }}</p>
      </div>

      <div class="form-group">
        <p>Email: {{ selecEvent?.email }}</p>
      </div>
    </div>
  </div>
</div>





