
<div class="modal">
  <div class="modal-content">
    <button CloseDEtails()" class="close">×</button>
    <div class="modal-head">
      <h2>Detalles del Empleado</h2>
    </div>

    <div class="modal-body">
      <div class="card-component">
        <p class="campo-list">
          <span><strong>Nº Empleado:</strong></span>
          <span>{{ selecEvent?.id_worker }}</span>
        </p>
        <p class="campo-list">
          <span><strong>Nombre:</strong></span>
          <span>{{ selecEvent?.name }}</span>
        </p>
        <p class="campo-list">
          <span><strong>Apellidos:</strong></span>
          <span>{{ selecEvent?.surname }}</span>
        </p>
        <p class="campo-list">
          <span><strong>Cargo:</strong></span>
          <span>{{ selecEvent?.status}}</span>
        </p>
      </div>
    </div>
  </div>
</div>





