<div class="modal">
  <h2>Editar Pedido</h2>
  <div class="form-container">
    
      <div class="form-group">
        <label for="item_type">Tipo de artículo</label>
        <input id="item_type" name="item_type" [(ngModel)]="order.item_type" type="text" required />
      </div>
    
      <div class="form-group">
        <label for="status">Estado</label>
        <input id="status" name="status" [(ngModel)]="order.status" type="text" required />
      </div>
    
      <div class="form-group">
        <label for="date_of_entry">Fecha de entrada</label>
        <input id="date_of_entry" name="date_of_entry" [(ngModel)]="order.date_of_entry" type="date" required />
      </div>
    
      <div class="form-group">
        <label for="date_of_departure">Fecha de salida</label>
        <input id="date_of_departure" name="date_of_departure" [(ngModel)]="order.date_of_departure" type="date" required />
      </div>
    
      <div class="form-group">
        <label for="destination">Destino</label>
        <input id="destination" name="destination" [(ngModel)]="order.destination" type="text" required />
      </div>
    
      <div class="form-group">
        <label for="warehouse_location">Ubicación del almacén</label>
        <input id="warehouse_location" name="warehouse_location" [(ngModel)]="order.warehouse_location" type="text" readonly required />
      </div>
    
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
      </div>
 
    </div>