<div class="general">
  <button (click)="comeback()" >volver atras</button>
  <section class="section">
 
    <h2>Estos son todos los pedidos:</h2>

    @for(ware of warehouses; track $index){
      <h2>pedidos de: {{ware.location}}</h2>
    @for(order of ordersList; track $index){
    @if(order.warehouse_location === ware.location){

    <div class="card-content">
      <div class="campo-list ico-status">
        <!-- <i [class]="'bi ' + getIconClass(order.status)">
      <br>{{ order.status }}
      </i> Icono dinámico -->
      </div>
      <p class="campo-list none-mb">ID: <br><span><strong>{{ order.id_order }}</strong></span></p>
      <p class="campo-list">Estado: <br><span><strong>{{ order.status }}</strong></span></p>
      <p class="campo-list">almacen: <br><span><strong>{{ order.warehouse_location }}</strong></span></p>

      <button (click)="openDetails(order)" class="btn-1 bi bi-clipboard2-plus-fill">Ver detalle</button>
    </div>
    }
    }


    }



   


  </section>
</div>


@if(this.ShowDetails === true){
<app-order-details [selectedEvent]="selectEvent" (closeModal)="CloseDEtails()"></app-order-details>
}

@if(this.modalAdd === true){
<app-add-warehouse (closeadd)="closeADD()"></app-add-warehouse>
}