
<div class="general">
    <section class="section">
      <p class="saludo">Hola,</p>
      <h2>Estos son todos los pedidos:</h2>
        @for(order of ordersList; track $index){
          <div class="card-content">
            <!-- TODO: ver si los estados al final se pasan a icono o no -->
            <p class="campo-list">Estado<span><strong><br>{{ order.status }}</strong></span></p>
            <p class="campo-list none-mb"><span><strong><br>{{ order.id }}</strong></span></p>
            <p class="campo-list">Origen<span><strong><br>{{ order.warehouse_location }}</strong></span></p>

            <button (click)="openDetails(order)" class="edit-btn">Detalle</button>
          </div>
        }
        <button class="btn-2">Nuevo Almacén</button>
    </section>
</div>


@if(this.ShowDetails === true){
    <app-order-details [selectedEvent]="selectEvent" (closeModal)="CloseDEtails()" ></app-order-details>
}

@if(this.modalAdd === true){
    <app-add-warehouse (closeadd)="closeADD()"></app-add-warehouse>
    }
