
<header>
  <div class="header">
    <ul class="menu-header">
      <li><h1><span>E</span>CARRIER</h1></li>
      <li><button (click)="logout()" class="logout-btn">LogOut</button></li>
    </ul>
  </div>
</header>


<!--<app-conductor></app-conductor> -->




<div>
  @if(this.userRole === "camionero"){
    <app-conductor></app-conductor>
    }
</div>

<div>
  @if(this.userRole === "operario"){
    <app-operario></app-operario>
   }
</div>

<div>
  @if(this.userRole === "encargado"){
    <app-encargado></app-encargado>
  }
</div>


<div>
  @if(this.userRole === "jefe"){
    <app-jefe></app-jefe> 
   }
</div>


