<p>home works!</p>
<h1>bienvenido de nuevo {{this.name}} </h1>

<section class="section">     
<h1>prueba</h1>
    @for(pedido of pedidosList; track $index){
    <div class="card">
        <h2>{{ pedido.tipo_articulo }}</h2>
        <p><strong>estado</strong><p>{{ pedido.status }}</p>
        <p><strong>fecha entrada:</strong> {{ pedido.fecha_entrada }}</p>
        <p><strong>fecha salida:</strong> {{ pedido.fecha_salida }}</p>
        <p><strong>origen:</strong> {{ pedido.almacenes_localizacion }}</p>
        <p><strong>destino:</strong> {{ pedido.destino }}</p>
        <p><strong>empleado asignado:</strong> {{ pedido.Trabajadores_almacenes_localizacion }}</p>
        <p><strong>camion asignado:</strong> {{ pedido.camiones_matricula }}</p>

    </div>
    }

</section>