


                                
     <header>
  <div class="header">
    <ul class="menu-header">
      <li><h1><span>E</span>CARRIER</h1></li>
      <li><button class="logout-btn">LogOut</button></li>
    </ul>
  </div>
</header>                           
                                
@if(this.userRole === "conductor"){
  <app-conductor></app-conductor>
}
 @if(this.userRole === "operario"){
  <app-operario></app-operario>
} 
   @if(this.userRole === "encargado"){
  <app-encargado></app-encargado> 
}
   @if(this.userRole === "jefe"){
   <app-jefe></app-jefe>  
}


