<div class="general">
    <div class="new-order">
        <button (click)="showFormCreateOrder()">Crear pedido</button>
    </div>
    <section class="section">
        <p class="saludo">Hola, {{ name }}</p>
        <h2>estos son tus pedidos gestionados</h2>
        @for(order of orderList; track $index){

        <div class="card">
            <div class="card-1">
                <i [class]="'bi ' + getIconClass(order.status)"></i> <!-- Icono dinámico -->
            </div>
            <div class="card-2">
                <div class="card-2-inf">
                    <h3>Pedido: {{ order.id }}</h3>
                    <p>Destino: {{ order.destination }}</p>
                    <p>{{ order.date_of_departure }}</p>
                </div>
                <div class="card-2-icon">            
                    <button (click)="mostrarDetalle(order)" class="bi bi-clipboard2-plus-fill"></button>                
                </div>
            </div>
        </div>
        }

        @if(this.showDetail === true){
            <app-detalle-operario 
            (closeModal)="closeDetail()"
            (openEditModal)="openEditModal($event)"
            *ngIf="selectedOrder"
            [order]="selectedOrder"
            ></app-detalle-operario>
        }
        @if(this.showCreateOrder === true){
            <app-new-order
            (closeCreateOrder)="closeCreateOrder()"
            ></app-new-order>
        }
        @if(this.showEditOrder === true) {
            <app-edit-order 
                (closeModal)="closeEditOrder()" 
                [order]="selectedOrder">
            </app-edit-order>
        }
    </section>
</div>
