




    <!-- paso #4 debemos importar el componente -->
<div class="general">
  <section class="section">
    <p class="saludo">Hola,</p>
        <h2>¿Qué quieres consultar?</h2>

      <div class="content-jefe">
          <div class="card-module">
            <!-- TODO: Un iconito de pedidos aquí -->
            <h3 class="card-title">PEDIDOS</h3>
            <button  routerLink="/home/orders" class="btn-1">Consultar</button>
          </div>
          <div class="card-module">
            <!-- TODO: Un iconito de empleados aquí -->
            <h3 class="card-title">EMPLEADOS</h3>
            <button  routerLink="/home/workers" class="btn-1">Consultar</button>
          </div>
          <div class="card-module">
            <!-- TODO: Un iconito de almacén aquí -->
            <h3 class="card-title">ALMACENES</h3>
                <button routerLink="/home/warehouse" class="btn-1">Consultar</button>
          </div>
      </div>
  </section>
</div>


