.general{
  background-color: #303030;
  color: white;
}
.saludo{
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
}
h2{
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}
.content-jefe{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-module{
  background-color: #494949;
  padding: 10px 4px;
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-items: center;
  color: white;
  margin: 5px auto;
  border-radius: 0;
  min-height: 100px;
  flex-direction: column
}
.card-module:hover{
  /*transform: scale(1.05);*/
  cursor: pointer;
}
.card-title{
  margin: 15px auto;
}
.edit-btn{
  background-color: #ee8941;
  color: white;
  border-radius: 20px;
  font-weight: 800;
  padding: 5px 8px;
  width: fit-content;
}
.edit-btn:hover{
  background-color: #c06627;
  cursor: pointer;
  transform: scale(1.05)
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
  .content-jefe{
    flex-direction: row;
  }

}
