<div class="general">
  <section class="section">
      <p class="saludo">Hola, {{ name }}</p>
      <h2>estos son tus pedidos asignados</h2>
      @for(order of orderList; track $index){
      <div class="card-content">
        <div class="campo-list ico-status">
          <i [class]="'bi ' + getIconClass(order.status)">
            <!-- <br>{{ order.status }} -->
          </i> <!-- Icono dinámico -->
      </div>
          <p class="campo-list none-mb"><span><strong><br>{{ order.id_order }}</strong></span></p>
          <!-- <p class="campo-list">Estado<strong><br>{{ order.status }}</strong></span></p> -->
          <p class="campo-list">F. salida:<br><span><strong>{{ order.date_of_departure }}</strong></span> </p>
          <p class="campo-list">destino:<br><span><strong>{{ order.destination }}</strong></span></p>
          <button (click)="mostrarDetalle(order)" class="edit-btn">Detalle</button>
      </div>
      }
      @if(this.showDetail === true){
          <app-detalle-conductor
          (closeModal)="closeDetail()"
          (openEditModal)="openEditModal($event)"
          *ngIf="selectedOrder"
          [order]="selectedOrder"
          ></app-detalle-conductor>
      }
      @if(this.showEditOrder === true) {
          <app-edit-order
              (closeModal)="closeEditOrder()"
              [order]="selectedOrder">
          </app-edit-order>
      }
  </section>
</div>
