<div class="general">
  <section class="section">
      <p class="saludo">Hola, {{ name }}</p>
      <h2>Estos son tus pedidos asignados</h2>
      <div class="list-element-group">
        @for(order of ordersList; track $index){
          <div class="card-content">
            <div class="campo-list ico-status">
                <i [class]="'bi ' + getIconClass(order.status)">
                  <!-- <br>{{ order.status }} -->
                </i> <!-- Icono dinámico -->
            </div>
            <div class="element-list">
              <p class="campo-list">Fecha salida:{{ order.date_of_departure | date: 'dd/MM/yy' }} </p>
              <p class="campo-list">Destino:{{ order.destination }}</p>
            </div>
        
            <button (click)="mostrarDetalle(order)" class="btn-1 bi bi-clipboard2-plus-fill">Ver detalle</button>
          </div>
          }
          @if(this.showDetail === true){
            <app-detalle-conductor
            (closeModal)="closeDetail()"
            (openEditModal)="openEditModal($event)"
            *ngIf="selectedOrder"
            [order]="selectedOrder"
            ></app-detalle-conductor>
        }
        @if(this.showEditOrder === true) {
            <app-edit-order
                (closeModal)="closeEditOrder()"
                [order]="selectedOrder">
            </app-edit-order>
        }
      </div>


  </section>
</div>
