

.general{
  background-color: #303030;
  color: white;
}
.new-order{
  max-width: 95%;
  margin: auto;
  padding: 30px 0;
}
.saludo{
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
}
h2{
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

h3{
  font-size: 16px;
  margin: 0;
}


h2, p{
  margin: 0;
}

.card-content{
  background-color: #494949;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content:space-around;
}


button{
  background-color: transparent;
  border: none;
}

.edit-btn{
  background-color: #ee8941;
  color: white;
  border-radius: 20px;
  font-weight: 800;
  height: 29px;
  width: 75px;
}

.edit-btn:hover{
  background-color: #ee8941;
  color: white;
  border-radius: 20px;
  font-weight: 800;
  height: 32px;
  width: 77px;
}

