


<div class="general">
  <button (click)="comeback()" >volver atras</button>
    <section class="section">
      <div class="content-alta">
        <button (click)="openaddWorker()" class="btn-2">Nuevo Empleado</button>
      </div>
      <h2>Estos son todos los empreados:</h2>

@for(ware of warehouses; track $index){
  <p> almacen de {{ware.location}}</p>
        @for(worker of workersList; track $index){
          @if(worker.warehouse_location === ware.location ){
            <div class="content">
              <div class="card-content">
                <p><strong>Nombre</strong>{{ worker.name }} {{ worker.surname }}</p>
                <p><strong>Puesto</strong>{{ worker.role }}</p>
                <p><strong>Almacén</strong>{{ worker.warehouse_location }}</p>
  
                <!-- Acciones del empleado -->
                 @if(worker.role === "operario" ||worker.role ===  "camionero"){
                  <button [routerLink]="['/orderByWorker', worker.email]" class="edit-btn">Sus Pedidos</button>
                 }
                
                 @if(worker.role !== "operario" && worker.role !==  "camionero"){
                  <button  class="edit-btn hidden">ocultar</button>
                 }
                <button (click)="openDEtails(worker)" class="edit-btn">ver detalles</button>
              </div>
            </div>
          }
          
        }
}

     
    

@if(this.addModal === true){
    <app-add-worker (closeadd)="closeAddworker()"></app-add-worker>
}

@if(this.detailsModal === true){
    <app-details-worker [selecEvent]="selectEvent" (closedetails)="closeDEtails()"></app-details-worker>
}

