.general {
  background-color: #303030;
  color: white;
}

.saludo {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.content-alta {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  gap: 10px;
}

.hidden{
  display: none;
}

.card-content {
  background-color: #494949;
  padding: 10px;
  margin: 10px;
  display: flex;
  vertical-align: middle;
  align-items: anchor-center;
  justify-content: space-between;
  flex-direction: column
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.card-content-2 button::before {
  margin-right: 5px;
}

.card-content-1 {
  width: 100%;
  text-align: center;
}

.card-content-2 {
  display: flex;
  gap: 10px;
}

.campo-list {
  font-size: 14px;
  width: 100px;
}

.campo-list span {
  font-size: 18px;
}

.campo-list.ico-status {
  font-size: 35px;
  width: 40px;
}

.none-mb {
  display: none;
}

.edit-btn {
  background-color: #ee8941;
  color: white;
  font-size: 20px;
  border: none;
  padding: 5px 50px;
  font-weight: 600;
  height: 50px;
  border-radius: 35px;
  margin: auto;
  border: solid 1px #ee8941;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .card-content {
    justify-content: space-between;
    gap: 15px;
  }

  .none-mb {
    display: block;
    width: 60px;
  }
}

@media (min-width: 1200px) {
  .card-content {
    justify-content: space-around;
  }

  .edit-btn:hover {
    background-color: #c06627;
    cursor: pointer;
    transform: scale(1.05)
  }

  .hidden {
    visibility: hidden;
  }
}