


<div class="general">
    <section class="section">
      <p class="saludo">Hola,</p>
      <h2>Estos son todos los empreados:</h2>
      <div class="content-alta">
        <button (click)="openaddWorker()" class="edit-btn">Nuevo Empleado</button>
      </div>
        @for(worker of workersList; track $index){
          <div class="content">
            <div class="card-content">
              <p><strong>Nombre</strong>{{ worker.name }}</p>
              <p><strong>Apellidos</strong>{{ worker.surname }}</p>
              <p><strong>Puesto</strong>{{ worker.role }}</p>
              <p><strong>Almacén</strong>{{ worker.warehouse_location }}</p>

              <!-- Acciones del empleado -->
              <button [routerLink]="['/home/orderByWorker', worker.email]" class="edit-btn">Sus Pedidos</button>
              <button (click)="openDEtails(worker)" class="edit-btn">ver detalles</button>
            </div>
          </div>
        }
    </section>
</div>

@if(this.addModal === true){
    <app-add-worker (closeadd)="closeAddworker()"></app-add-worker>
}

@if(this.detailsModal === true){
    <app-details-worker [selecEvent]="selectEvent" (closedetails)="closeDEtails()"></app-details-worker>
}

