<div class="modal">
  <div class="modal-content">
    <button (click)="closeEDetails()" class="close">×</button>
    <div class="modal-head">
      <h2>Detalles del Pedido</h2>
    </div>
    <div class="modal-body">
      <div class="card-component">
        <p class="campo-list">
          <span><strong>Nº Pedido:</strong></span>
          <span>{{ selectedEvent?.id_worker }}</span>
        </p>
        <p class="campo-list">
          <span><strong>Tipo Artículo:</strong></span>
          <span>{{ selectedEvent?.item_type }}</span>
        </p>
        <p class="campo-list">
          <!-- TODO: icono? -->
          <span><strong>Estado:</strong></span>
          <span>{{ selectedEvent?.status }}</span>
        </p>
        <p class="campo-list">
          <span><strong>F. Entrada:</strong></span>
          <span>{{ selectedEvent?.date_of_entry | date: 'dd/MM/yy' }}</span>
        </p>
        <p class="campo-list">
          <span><strong>F. Salida:</strong></span>
          <span>{{ selectedEvent?.date_of_departure | date: 'dd/MM/yy' }}</span>
        </p>

        <p class="campo-list">
          <span><strong>Origen:</strong></span>
          <span>{{ selectedEvent?.origin }}</span>
        </p>

        <p class="campo-list">
          <span><strong>Destino:</strong></span>
          <span>{{ selectedEvent?.destination }}</span>
        </p>

        <p class="campo-list">
          <span><strong>Conductor Asignado:</strong></span>
          <span>{{ selectedEvent?.worker_email }}</span>
        </p>
        <p class="campo-list">
          <span><strong>Ubicación del Almacén:</strong></span>
          <span>{{ selectedEvent?.warehouse_location }}</span>
        </p>
        <p class="campo-list">
          <span><strong>Matrícula Camión:</strong></span>
          <span>{{ selectedEvent?.truck_plate }}</span>
        </p>
    </div>
  </div>
</div>
