<div class="modal">
  <div class="modal-content">
    <div class="form-container">
      <div class="form-group" id="title">
        <h2>Detalles del Pedido</h2>
        <button (click)="closeEDetails()" class="close">X</button>
      </div>
      <div class="elements">
        <div class="form-group">
          <p>Pedido: <span>{{ selectedEvent?.id_order }}</span></p>
        </div>

        <div class="form-group">
          <p>Artículo: <span>{{ selectedEvent?.item_type }}</span></p>
        </div>

        <div class="form-group">
          <p>Estado: <span>{{ selectedEvent?.status }}</span></p>
        </div>

        <div class="form-group">
          <p>Fecha entrada: <span>{{ selectedEvent?.date_of_entry | date: 'dd/MM/yy' }}</span></p>
        </div>

        <div class="form-group">
          <p>Fecha salida: <span>{{ selectedEvent?.date_of_departure | date: 'dd/MM/yy' }}</span></p>
        </div>

        <div class="form-group">
          <p>Almacen: <span>{{ selectedEvent?.warehouse_location }}</span></p>
        </div>

        <div class="form-group">
          <p>Destino: <span>{{ selectedEvent?.destination }}</span></p>
        </div>

        <div class="form-group">
          <p>Conductor: <span>{{ selectedEvent?.worker_email }}</span></p>
        </div>

      </div>
    </div>
    
    </div>
</div>
