<div class="modal">
    <button class="close" (click)="closeEditar()">×</button>
  
    <div class="form-container">
        <h2>editar status</h2>
        <form action="/submit" (ngSubmit)="handleEdit()">
          

          <div class="form-group">
            <label for="name"> tipo de articulo: <strong>{{editPedido.tipo_articulo}}</strong></label>
          </div>

          <div class="form-group">
            <label for="location">status:</label>
            <select [(ngModel)]="editPedido.status" name="location" id="location" required>
                <option value="" disabled selected>Seleccionar location</option>
                <option value="en_transito">aceptado</option>
                <option value="anulado">anulado</option>
              </select>
          </div>
         

          <div class="form-group">
            <label for="fecha salida">  <strong>fecha de salida</strong></label>
            <input type="date" [(ngModel)]="editPedido.fecha_salida" name="fecha_salida" id="fecha_salida" required>>
          </div>
          
     
         
      
    
          <div class="form-actions">
            <button type="submit">Guardar Cambios</button>
            <button type="button" (click)="closeEditar()">Cancelar</button>
          </div>
    
        </form>
      </div>
    </div>


    
