<div class="modal">
  <div class="modal-content">
    <div class="form-container">
      <div class="form-group" id="title">
        <h2>Editar Estado del Pedido</h2>
        <button  (click)="closeEditOrder()"class="close">×</button>
      </div>
      <div class="elements">
        <div class="form-group">
          <form (ngSubmit)="onSubmit()" #editOrderForm="ngForm">
            <div class="form-group">
              <label for="status">Estado</label>
              <select id="status" name="status" [(ngModel)]="order.status" type="text" required>
                  <option value="" disabled selected>Selecciona un estado</option>
                  <option value="Entregado">Entregado</option>
              </select>
            </div>
            <div class="buttons">
              <button type="submit" class="btn-1">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
