
<div class="modal">
  <div class="modal-content">
    <button class="close" (click)="Close()">×</button>
    <div class="modal-head">
      <h2>Nuevo Empleado</h2>
    </div>
    <div class="modal-body">
      <form action="/submit" (ngSubmit)="handleRegister()">
      <div class="form-group">
        <label for="surname">nombre:</label>
        <input
          id="name"
          type="text"
          [(ngModel)]="newWorker.name"
          name="surname"
          placeholder="nombre"
          required
        />
      </div>
          <div class="form-group">
            <input
              id="surname"
              type="text"
              [(ngModel)]="newWorker.surname"
              name="surname"
              placeholder="apellido"
              required
            />
          </div>
          <div class="form-group">
            <input
              id="address"
              type="text"
              [(ngModel)]="newWorker.address"
              name="address"
              placeholder="direccion"
              required
            />
          </div>
          <div class="form-group">
            <input
              id="dni"
              type="text"
              [(ngModel)]="newWorker.dni"
              name="dni"
              placeholder="dNi del empleado"
              required
            />
          </div>
          <div class="form-group">
            <input
              id="email"
              type="text"
              [(ngModel)]="newWorker.email"
              name="email"
              placeholder="email del usuario"
              required
            />
          </div>
          <div class="form-group">
            <input
              id="password"
              type="text"
              [(ngModel)]="newWorker.password"
              name="password"
              placeholder="password"
              required
            />
          </div>
          <div class="form-group">
            <input
              id="truck_plate"
              type="text"
              [(ngModel)]="newWorker.truck_plate"
              name="truck_plate"
              placeholder="matricula del camion"
              required
            />
          </div>
          <div class="form-group">
            <label for="role">status:</label>
            <select [(ngModel)]="newWorker.role" name="role" id="role" required>
                <option value="" disabled selected>definir rol </option>
                <option value="encargado">encargado </option>
                <option value="conductor">conductor</option>
                <option value="oeprario">operario</option>
              </select>
          </div>
          <div class="form-group">
            <label for="warehouse_location">ubicacion :</label>
            <select [(ngModel)]="newWorker.warehouse_location" name="location" id="warehouse_location" required>
                <option value="" disabled selected>ubicacion </option>
                @for(ware of warehouses; track $index){
                  <option value="madrid">{{ware.location}}</option>
                }
                
                
              </select>
          </div>

          <div class="buttons">
            <button type="submit" class="edit-btn">Guardar</button>
            <button type="button" (click)="Close()" class="edit-btn">Cancelar</button>
          </div>
        </form>
    </div>
  </div>
</div>
