<p>add-worker works!</p>  <h2>nuevo almacen </h2>
<div class="modal">


    <button (click)="Close()" class="close">×</button>
  
    <div class="form-container">
        <h2>nuevo almacen </h2>
    <form action="/submit" (ngSubmit)="handleRegister()">
        <div class="form-group">
            <label for="name">Nombre:</label>
            <input
              id="name"
              type="text"
              [(ngModel)]="newWorker.name"
              name="name"
              placeholder="locacion de la empresa"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">apellido:</label>
            <input
              id="name"
              type="text"
              [(ngModel)]="newWorker.surname"
              name="name"
              placeholder="locacion de la empresa"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">direccion:</label>
            <input
              id="name"
              type="text"
              [(ngModel)]="newWorker.addres"
              name="name"
              placeholder="locacion de la empresa"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">dni:</label>
            <input
              id="name"
              type="text"
              [(ngModel)]="newWorker.dni"
              name="name"
              placeholder="locacion de la empresa"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">email:</label>
            <input
              id="name"
              type="text"
              [(ngModel)]="newWorker.email"
              name="name"
              placeholder="locacion de la empresa"
              required
            />
          </div>
         

        <div class="form-group">
            <label for="location">status:</label>
            <select [(ngModel)]="newWorker.role" name="location" id="location" required>
                <option value="" disabled selected>definir rol </option>
                <option value="In Transit">encargado </option>
                <option value="nule">conductor</option>
                <option value="nule">operario</option>
              </select>
          </div>
          <div class="form-group">
            <label for="location">ubicacion :</label>
            <select [(ngModel)]="newWorker.warehouse_location" name="location" id="location" required>
                <option value="" disabled selected>ubicacion </option>
                <option value="madrid">madid</option>
                <option value="valencia">valencia</option>
                <option value="bilbao">bilbao</option>
                <option value="sevilla">sevilla</option>
                <option value="malaga">malaga</option>
              </select>
          </div>
        
          <div class="form-actions">
            <button type="submit">Guardar </button>
            <button type="button" (click)="Close()">Cancelar</button>
          </div>
    
        </form> 
      </div>
    </div>
