
<div class="encabezado">
  <h1>pedidos pendientes de revision</h1>
</div>
<div class="table-responsive">
    <table class="table">
      <thead>

        <tr>
          <th>Pedido ID</th>
          <th>Ptipo de articulo</th>
          <th>Status</th>
          <th>Fecha de entrada</th>
          <th>Fecha salida</th>
          <th>Destino</th>
          <th>Conductor asignado</th>
          <th>Matrícula</th>
          <th>edicion</th>
        </tr>
      </thead>
      @for(order of ordersList ;track $index){
        @if(order.status === "Pendiente"){
          <tbody>
            <tr>
              <td>{{order.id}}</td>
              <td>{{order.item_type}}</td>
              <td>{{order.status}}</td>
              <td>{{order.date_of_entry}}</td>
              <td>{{order.date_of_departure}}</td>
              <td>{{order.destination}}</td>
              <td>{{order.worker_id_worker}}</td>
              <td>{{order.truck_plate}}</td>
              <td><a (click)="openEdiatar(order)"><img class="img" src="/assets/image/editar.png" alt=""></a></td>
            </tr>
            <tr>

          </tbody>
        }

      }

    </table>
  </div>



  <div class="encabezado">
    <h1>listos para entrega</h1>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>

        <tr>
          <th>Pedido ID</th>
          <th>Ptipo de articulo</th>
          <th>Status</th>
          <th>Fecha de entrada</th>
          <th>Fecha salida</th>
          <th>Destino</th>
          <th>Conductor asignado</th>
          <th>Matrícula</th>
        </tr>
      </thead>
      @for(order of ordersList ;track $index){
        @if(order.status !== "Pendiente"){
          <tbody>
            <tr>
              <td>{{order.id}}</td>
              <td>{{order.item_type}}</td>
              <td>{{order.status}}</td>
              <td>{{order.date_of_entry}}</td>
              <td>{{order.date_of_departure}}</td>
              <td>{{order.destination}}</td>
              <td>{{order.worker_id_worker}}</td>
              <td>{{order.truck_plate}}</td>
            </tr>
            <tr>

          </tbody>
        }

      }

    </table>
  </div>

  @if(this.openEditar === true){
    <app-editar [selectedEvent]="selectedEvent" (closeEdit)="closeEditar()"></app-editar>
}
