



<div class="modal">
  <div class="modal-content">
    <button (click)="closeOrderModal()" class="close">×</button>
    <div class="modal-head">
      <h2>Detalles del Pedido</h2>
    </div>
    <div class="modal-body">
      <div class="card-component">
        <p class="campo-list">ID: <strong class="campo-valor">{{selectedEvent?.id}}</strong></p>
        <p class="campo-list">Tipo: <strong class="campo-valor">{{selectedEvent?.item_type}}</strong></p>
        <p class="campo-list">Estado: <strong class="campo-valor">{{selectedEvent?.status}}</strong></p>
        <p class="campo-list">Fecha de Entrada: <strong class="campo-valor">{{selectedEvent?.date_of_entry }}</strong></p>
        <p class="campo-list">Fecha de Salida: <strong class="campo-valor">{{ selectedEvent?.date_of_departure }}</strong></p>
        <!-- <p class="campo-list">Origen: <strong class="campo-valor">{{selectedEvent?.origin}}</strong></p> -->
        <p class="campo-list">Destino: <strong class="campo-valor">{{selectedEvent?.destination}}</strong></p>
        <p class="campo-list">Conductor: <strong class="campo-valor">{{selectedEvent?.worker_email}}</strong></p>
        <p class="campo-list">Ubicación del Almacén: <strong class="campo-valor">{{selectedEvent?.warehouse_location}}</strong></p>
        <p class="campo-list">Matrícula Camión: <strong class="campo-valor">{{selectedEvent?.truck_plate}}</strong></p>
        <button class="edit-btn">Editar</button>
      </div>

    </div>
  </div>
</div>
